.mobile-nav__wrapper{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: var(--footer-bg);
    color: var(--footer-text-color);
    font-size: 22px;
    padding: 30px 30px;
    width: 320px;

    a {
        color: var(--footer-text-color);
    }
}

.mobile-nav__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 10px;   
}


.mobile-nav__close-btn{
    scale: 1;
    transition: scale 0.2s ease-in;

    &:hover{
        scale: 1.1;
    }

    padding-left: 10px;
    border-left: 2px solid rgba(255, 255, 255, 0.2);
}


.mobile-cart{
    display: flex;
    gap: 20px;
    font-size: 22px;
    font-weight: 600;

    transition: opacity 0.2s ease-in;

    &:hover{
        opacity: 0.8;
    }

}
// nav

.mobile-nav__list {
    display: grid;
    gap: 20px;
}

.mobile-nav-list__item {
}

.mobile-nav-list__link {
    transition: opacity 0.2s ease-in;
    &:hover{
        opacity: 0.8;
    }
}

.mobile-nav-list__sub-nav {
}

// subNav

.mobile-sub-nav__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 15px;
    font-size: 15px;

}

.mobile-sub-nav__item {
}

.mobile-sub-nav__link {
    transition: color 0.2s ease-in;
    &:hover{
        color: var(--accent);
    }
}

